:root {
    --primary-color:		#FFD700;
    --secondary-color:	#A0B9DB;
    --Accent1-color:		#1281EB;
    --Accent2-color:		#C7E1F5;
    
    --Heading-font:		Special Elite, sans-serif;
    --Text-font:		Roboto, sans-serif;  
  }
body {
    background-color: #1A1A2E; 
    color: #A6A6A6; 
    font-family: var(--Text-font);
}
h1, h2, h3 {
    color: #FF007F; 
    font-family: var(--Heading-font);
    margin: .5rem;
}
.main_header {
    padding: 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    text-align: center;
    background-image: linear-gradient(to right, rgb(199, 225, 245, .5), rgb(18, 129, 235, .1));
}
p {
    margin-left: 3rem;
    margin-right: 2rem;
}
a {
    color: #A0B9DB;
    display: flex;
    text-decoration: none;
    padding: .4rem;
    font-weight: bolder;
    font-size: xx-large;
}
a:hover {
    color: #FFD700; 
}
button {
    background-color: #FFD700; 
    color: #222831; 
}
.images_grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #222831;
    color: #A6A6A6;
}
main {
    justify-items: center;
}
body {
    background-color: #1A1A2E; 
    color: #A6A6A6; 
    font-family: var(--Text-font);
}
.container {
    max-width: 1600px; 
    min-width: 500;
    width: 100%; 
    padding: 20px; 
}
.header_list {
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    align-items: center; 
    padding: 20px; 
    list-style-type: none;
    font-weight: bolder;
    text-decoration: none;
}
.header_list a {
    display: block;
    font-size: xx-large;
}

footer {
    padding: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-align: center;
    background-image: linear-gradient(to right, rgb(199, 225, 245, .5), rgb(18, 129, 235, .1));
}


#menu {
    display: none; /* hide hamburger button */
}

